.cover {
  box-sizing: border-box;
  position: relative;
  max-width: 1184px;
  width: 100%;
  aspect-ratio: 8/5;
  background: url('../../images/cover/cover-trains.jpg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}